{%- if section.blocks.size > 0 -%}
    <div class="announcement-bar">
        <div class="announcement-bar__wrap">
            <ul class="announcement-bar__list">
                {%- for block in section.blocks -%}
                    <li class="{% if forloop.first %}active{% endif %}">
                        {%- if block.settings.url != blank -%}
                            <a class="announcement-bar__item" href="{{ block.settings.url }}">{{ block.settings.title }}</a>
                        {%- else -%}
                            <div class="announcement-bar__item">{{ block.settings.title }}</div>
                        {%- endif -%}
                    </li>
                {%- endfor -%}

            </ul>
        </div>
    </div>
{%- endif -%}

{% schema %}
{
    "name": "Announcement Bar",
    "max_blocks": 3,
    "blocks" : [
        {
            "name": "Announcement",
            "type": "announcement",
            "settings": [
                {
                    "type": "richtext",
                    "id": "title",
                    "label": "Text",
                    "default": "<p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "URL / Link",
                    "info": "Make the entire bar clickable"
                }
            ]
        }
    ]
}
{% endschema %}